html{
	background-color:#4D1219;

	font-family: Garamond, Arial, sans-serif, Comic Sans MS, Comic Sans, cursive;
}


.button {
    overflow: hidden;
    background-color: #403344;
  }
  
  .button a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 3px 120px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .button a:hover {
    background-color: #ddd;
    color: black;
  }

  img {
    max-width:1000px;
    max-height:1000px;
  }